### in AND operation all the condition should be true after than it will excecute
### in OR operation any one condition should be true to be excecuted

## and = *
## or = +

In [6]:
i = 10
if( i < 5) | (i ==10):
    print("this is a valid statemnt ")
elif i < 8:
    print("this is a valid stament in elif")
else:
    print("this will give me a defalut statement ")

this is a valid statemnt

In [7]:
i = 10
if( i < 5) & (i ==10):
    print("this is a valid statemnt ")
elif i < 8:
    print("this is a valid stament in elif")
else:
    print("this will give me a defalut statement ")

this will give me a defalut statement

In [ ]:
i = 10 
s = "sudh"
if i!=10:
    if type(s)==int:
        print("this is my name ")
    else : 
        print("this is a defalut condition ")
else :
    print("this is default dtatemnt for outer if block ")

In [12]:
l = [3,4,4,5,6,"sudh","kumar","xyz"]
l

[3, 4, 4, 5, 6, 'sudh', 'kumar', 'xyz']

In [13]:
l[::2]

[3, 4, 6, 'kumar']

In [14]:
m = []
for i in l:
    if type(i)==int:
        m.append(i/10)

In [15]:
m

[0.3, 0.4, 0.4, 0.5, 0.6]

In [16]:
b=[]
for i in l:
    if type(i)==int:
        i= i+i
        print(i)

6
8
8
10
12

In [17]:

x = [1,2,3,4,6,'ashu','hello','hii']

m = 0

for i in x:
    
    if type(i) == int:
        m = m+i

print(m)

16

In [18]:
for i in "sudh":
    print(i)

s
u
d
h

In [19]:
l = [4,5,6,6]
for i in l :
    if i == 9:
        break
    print(i)
else :
    print("this is the for else block ")

4
5
6
6
this is the for else block

In [15]:
s = "sudh kumar"
for i in s :
    if i == 'k':
        break
    print(i)

s
u
d
h

In [16]:
s = "sudh kumar"
for i in s :
    if i == 'k':
        continue
    print(i)

s
u
d
h

u
m
a
r

In [17]:
s = "sudh kumar"
for i in s :
    if i == 'k':
        pass
    print(i)

s
u
d
h

k
u
m
a
r

In [21]:
list(range(6))

[0, 1, 2, 3, 4, 5]

In [22]:
list(range(4,9,2))

[4, 6, 8]

In [23]:
l = [5,6,7,4,5,6,"sudh ","kuamr"]

In [24]:
len(l)

8

In [25]:
for i in range(len(l)):
    print(l[i])

5
6
7
4
5
6
sudh
kuamr

In [29]:
for i in l:
    print(i)

5
6
7
4
5
6
sudh
kuamr

In [31]:
a = int(input("take my name and age" ))
type(a)

take my name and age22

int

In [35]:
type(input())

True

str

In [36]:
"sudh"  + str(9)

'sudh9'

In [37]:
l = [4,5,6,6]
l1 = [4,5,6,4,3]

In [38]:
l +l1

[4, 5, 6, 6, 4, 5, 6, 4, 3]

In [39]:
#this is a code to explain your str operation 
'sudhanshu"s'

'sudhanshu"s'

In [40]:
"""faasfsafasf 
fasfsa
fsadfas
fsadfas
fas
fsa
fa
sf
asf
as
fd"""

'faasfsafasf \nfasfsa\nfsadfas\nfsadfas\nfas\nfsa\nfa\nsf\nasf\nas\nfd'

In [41]:
s = "hello world"

In [42]:
s = s.upper()

In [43]:
s

'HELLO WORLD'

In [44]:
s.lower()

'hello world'

In [45]:
s = "hello world sudhanshu kumar"

In [48]:
s.split('o')

['hell', ' w', 'rld sudhanshu kumar']

In [49]:
"my name is {},my age is {}".format("sudh",432)

'my name is sudh,my age is 432'

In [50]:
s  = "hello world"

In [55]:
s.find('o')

4

In [56]:
s.index('o')

4

In [18]:

str1 = 'hello world'
l = []
l1 = []
for i in range(len(str1)):
    if str1[i]=='l':
        l.append(i)
        l1.append(str1[i])
print(l, l1, sep='\n')

[2, 3, 9]
['l', 'l', 'l']

In [58]:
s = "sudh"
s

'sudh'

In [59]:
s.center(40,'v')

'vvvvvvvvvvvvvvvvvvsudhvvvvvvvvvvvvvvvvvv'

In [60]:
'hello\tworld'.expandtabs()

'hello   world'

In [61]:
y = "HEllow"

In [62]:
y.istitle()

False

In [63]:
y.isalpha()

True

In [64]:
y.isnumeric()

False

In [65]:
y.islower()

False

In [66]:
y.isupper()

False

In [67]:
y.isspace()

False

In [68]:
"sudh" * 3

'sudhsudhsudh'

In [69]:
[5,6,8]*3

[5, 6, 8, 5, 6, 8, 5, 6, 8]

In [70]:
l = [1,2,3,4,5,6,7,7,8,"sudh"]

In [71]:
l.append("kumar")

In [72]:
l

[1, 2, 3, 4, 5, 6, 7, 7, 8, 'sudh', 'kumar']

In [73]:
l.insert(2,"xyz")

In [74]:
l

[1, 2, 'xyz', 3, 4, 5, 6, 7, 7, 8, 'sudh', 'kumar']

In [75]:
l

[1, 2, 'xyz', 3, 4, 5, 6, 7, 7, 8, 'sudh', 'kumar']

In [76]:
l.pop()

'kumar'

In [77]:
l

[1, 2, 'xyz', 3, 4, 5, 6, 7, 7, 8, 'sudh']

In [78]:
l.pop(3)

3

In [79]:
l

[1, 2, 'xyz', 4, 5, 6, 7, 7, 8, 'sudh']

In [80]:
l =l[::-1]

In [85]:
l

['sudh', 7, 7, 6, 5, 4, 'xyz', 2, 1]

In [87]:
l.remove('sudh')
print(l)

[7, 7, 6, 5, 4, 'xyz', 2, 1]

In [88]:
l.reverse()

In [91]:
l

[1, 2, 'xyz', 4, 5, 6, 7, 7]

In [92]:
l

[1, 2, 'xyz', 4, 5, 6, 7, 7]

In [94]:
l

[1, 2, 'xyz', 4, 5, 6, 7, 7]

In [95]:
l = [4,3,4,4,5,6,67,7]

In [96]:
l.sort()

In [97]:
l

[3, 4, 4, 4, 5, 6, 7, 67]

In [98]:
sl   = ["sudh",'kumar']

In [99]:
sl.sort()

In [100]:
sl

['kumar', 'sudh']

In [101]:
l = [4,5,6,7,8]
l[3] = "sudh"

In [102]:
l

[4, 5, 6, 'sudh', 8]

In [103]:
l1 = [1,2,3,4]
l2 = [5,6,7,8]
l3 = [6,5,7,8]

In [104]:
l = [l1,l2,l3]

In [111]:
l

[[1, 2, 3, 4], [5, 6, 7, 8], [6, 5, 7, 8]]

In [125]:
[l[2][0] for i in l]

[6, 6, 6]

In [127]:
l = [4,5,6,6]

In [128]:
l.append([5,6,7])

In [129]:
l

[4, 5, 6, 6, [5, 6, 7]]

In [130]:
l1 = [4,5,6,7]

In [131]:
l1.extend([5,6,7])

In [132]:
l1

[4, 5, 6, 7, 5, 6, 7]

In [135]:
l = [5,3,4,5,6,7,8,5,6,7,8,2,4,3,2,2,2]

In [136]:
l = [5,6,7,2,8,5,6,4,6,5,6,7,8,2]
l = [i for i in l if i != 2]

In [137]:
l

[5, 6, 7, 8, 5, 6, 4, 6, 5, 6, 7, 8]

In [138]:
m=[]
l=[5,6,4,2,1,2,1,7,8,9,2,2]
for i in l :
    if i != 2 :
        m.append(i)
print(m)

[5, 6, 4, 1, 1, 7, 8, 9]

In [142]:
l=[2,2,22,2,22,5,4,5,5,7]
while 22 in l:
    l.remov

SyntaxError: cannot assign to literal (<ipython-input-142-a84810a2a2da>, line 2)

In [141]:
l

[22, 22, 5, 4, 5, 5, 7]